# Fixing companies jobs counts

In the last notebook, we found that our file `companies_available_jobs.csv` was incorrectly produced. It has that every company has been reviewed in the same 67 jobs.

We will fix that here.

For this, we will need to go back to our file `companies_jobs_counts.csv`, which lists how many times each company has been reviewed. We will also need to use our file `all_jobs_ratings.csv`, which contains the 13,000 jobs we have info about.

In [1]:
import pandas as pd
pd.set_option('display.max_columns',200)
pd.set_option('display.max_rows', 90)

import numpy as np

## Import job counts and job titles

In [2]:
#has how many times each job has been reviewed at each company
job_counts = pd.read_csv('companies_jobs_counts.csv', index_col='Unnamed: 0')

#import ratings for jobs I consider
job_ratings = pd.read_csv('all_jobs_ratings_transpose.csv', index_col='Unnamed: 0')

#all jobs at companies I will recommend
all_jobs = job_ratings.loc[:,'Job Title']

In [3]:
reviewed_companies = pd.read_csv('reviewed_companies.csv', index_col='Unnamed: 0')

In [4]:
print(reviewed_companies.shape)

reviewed_companies.head()

(5832, 7)

,Ticker Symbol,Ticker Sector,Ticker Industry,Company Id,Company URL,company_name,count
0,vtx:rog,Health Care,Pharmaceuticals & Biotechnology,274,https://www.glassdoor.com/Overview/Working-at-...,Genentech,609
1,bcs:falabella,NaN,NaN,10976,https://www.glassdoor.com/Overview/Working-at-...,Falabella,9
2,asx:wow,Consumer Services,Food & Drug Retailers,473193,https://www.glassdoor.com/Overview/Working-at-...,Big W,70
3,asx:wor,NaN,NaN,35193,https://www.glassdoor.com/Overview/Working-at-...,WorleyParsons,379
4,nyse:xom,Oil & Gas,Oil & Gas Producers,237,https://www.glassdoor.com/Overview/Working-at-...,ExxonMobil,845

In [6]:
job_counts.head()

   Company Id company_name          Job Title    Employee Status  count
0           4          AAR                A&P   Current Employee      1
1           4          AAR           A&P Lead   Current Employee      1
2           4          AAR  A&P Lead Mechanic   Current Employee      1
3           4          AAR       A&P Mechanic   Current Employee      1
4           4          AAR       A&P Mechanic  Former Contractor      2

In [7]:
print('Total number of reviews in job_counts: {}'.format(job_counts.loc[:,'count'].sum()))

Total number of reviews in job_counts: 2615681

## Restricting job counts

We will only consider jobs that have been reviewed at least 3 times at some company. This will decrease the number of jobs in half.

In [10]:
#filter job_counts to only jobs that have been reviewed at least 3x
job_counts = job_counts[job_counts.loc[:,'Job Title'].isin(all_jobs)]

In [11]:
print('Current number of reviews: {}'.format(job_counts.loc[:,'count'].sum()))

Current number of reviews: 1224851

In [14]:
job_counts.shape

(372136, 5)

In [17]:
job_counts.loc[:,'Job Title'].drop_duplicates()

3                                              A&P Mechanic
6                                            A&P Technician
8                                                Accountant
9                                            Administrative
10                                 Administrative Assistant
12                          Aircraft Maintenance Technician
14                                        Aircraft Mechanic
18                                                      Amt
19                                                  Analyst
21                                                Anonymous
27                                            Assembly Tech
28                                      Assembly Technician
29                          Aviation Maintenance Technician
32                                      Avionics Technician
37                                         Business Analyst
38                           Business Development Executive
40                                                    Buyer
41                                            CNC Machinist
42                                                    Clerk
43                                     Composite Technician
45                                               Contractor
46                                      Corporate Recruiter
47                                          Desktop Support
49                                                   Driver
53                                                 Engineer
56                                                  Finance
58                                       General Production
59                                         Helicopter Pilot
60                                          Human Resources
61                           Human Resources Representative
62                                            IT Consultant
65                                                   Intern
67                                        Inventory Analyst
69                                                     Lead
74                                                Logistics
75                                    Logistics Coordinator
78                                               Management
79                                                  Manager
81                                                 Mechanic
84                                                      NaN
86                                               Operations
90                                                    Pilot
92                                          Pricing Analyst
93                                    Production Controller
94                                    Production Technician
                                ...
604631                                    Territory Partner
605312                                     Myer Team Member
606071                             Radio Promotion Director
606592                         Customer Operations Engineer
606903                             Transaction Specialist I
606905                            Transaction Specialist II
607054                                      CRM Coordinator
608541                                 Retail Solar Advisor
609255                          Freelance Writer and Editor
611347    Financial Representative (Branch Manager Trainee)
611505                           Management Trainee Officer
611645                      Night Audit/Laundry, Front Desk
611714                               Core Account Executive
611721                             Dropbox Rotation Program
612092                               Online Sales Executive
612103                           Restaurant Care Specialist
613628                              Fashion Associate (P/T)
614801          Sales Representative/Membership Coordinator
615190                            Entrepreneur In Residence
615200                                                  GVD
615574                   Appraiser (Commercial Real Estate)
615611                     Associate Real Estate Accountant
615916                             Mobile Building Engineer
615994                               Real Estate Accountant
616123                        Senior Real Estate Accountant
616294                          Hollister Assistant Manager
616298                                Hollister Floor Model
616346                                          Model & PTI
616409                                Sales Associate/Model
617210               Receptionist, Administrative Assistant
617422                                       Park Attendant
617556                           Sunglasshut Sale Associate
617804                                 Assembly Team Member
619056                         Digital Relationship Advisor
619419                                            DTP Sales
619422                              Direct to Patient Sales
619876                                   Server/Salesperson
621578                                Sales Associate- Rack
621622                Shoes and Accessories Sales Associate
622976                                       Bank Executive
623278                   Carrier Procurement Representative
623382                                         FABP Analyst
623968                        Account Development Associate
624381                                        Clinical Team
625133                  Senior Sales Service Representative
Name: Job Title, Length: 13172, dtype: object

In [18]:
print(job_counts.shape)
job_counts.dropna(axis=0, subset=['Job Title']).head(90)

(372136, 5)

,Company Id,company_name,Job Title,Employee Status,count
3,4,AAR,A&P Mechanic,Current Employee,1
4,4,AAR,A&P Mechanic,Former Contractor,2
5,4,AAR,A&P Mechanic,Former Employee,5
6,4,AAR,A&P Technician,Current Employee,3
8,4,AAR,Accountant,Current Employee,1
9,4,AAR,Administrative,Current Employee,1
10,4,AAR,Administrative Assistant,Current Employee,1
12,4,AAR,Aircraft Maintenance Technician,Current Employee,1
13,4,AAR,Aircraft Maintenance Technician,Former Employee,1
14,4,AAR,Aircraft Mechanic,Current Contractor,1
15,4,AAR,Aircraft Mechanic,Current Employee,3
16,4,AAR,Aircraft Mechanic,Former Employee,3
18,4,AAR,Amt,Current Employee,1
19,4,AAR,Analyst,Current Employee,2
20,4,AAR,Analyst,Former Employee,1
21,4,AAR,Anonymous,Former Employee,1
27,4,AAR,Assembly Tech,Former Employee,1
28,4,AAR,Assembly Technician,Former Employee,1
29,4,AAR,Aviation Maintenance Technician,Current Employee,1
32,4,AAR,Avionics Technician,Current Contractor,1
33,4,AAR,Avionics Technician,Current Employee,1
34,4,AAR,Avionics Technician,Former Employee,3
37,4,AAR,Business Analyst,Former Employee,1
38,4,AAR,Business Development Executive,Current Employee,1
40,4,AAR,Buyer,Former Employee,1
41,4,AAR,CNC Machinist,Former Employee,1
42,4,AAR,Clerk,Current Contractor,1
43,4,AAR,Composite Technician,Former Employee,1
45,4,AAR,Contractor,Former Employee,1
46,4,AAR,Corporate Recruiter,Current Employee,1
47,4,AAR,Desktop Support,Former Intern,1
49,4,AAR,Driver,Former Employee,1
53,4,AAR,Engineer,Current Employee,5
54,4,AAR,Engineer,Former Employee,1
56,4,AAR,Finance,Former Employee,1
58,4,AAR,General Production,Current Employee,1
59,4,AAR,Helicopter Pilot,Former Employee,1
60,4,AAR,Human Resources,Current Employee,1
61,4,AAR,Human Resources Representative,Former Employee,1
62,4,AAR,IT Consultant,Former Contractor,1
65,4,AAR,Intern,Former Employee,1
66,4,AAR,Intern,Former Intern,2
67,4,AAR,Inventory Analyst,Former Employee,1
69,4,AAR,Lead,Former Employee,1
74,4,AAR,Logistics,Former Employee,1
75,4,AAR,Logistics Coordinator,Current Employee,1
78,4,AAR,Management,Current Employee,2
79,4,AAR,Manager,Current Employee,2
81,4,AAR,Mechanic,Current Employee,1
86,4,AAR,Operations,Former Employee,1
90,4,AAR,Pilot,Current Employee,2
91,4,AAR,Pilot,Former Employee,1
92,4,AAR,Pricing Analyst,Former Employee,1
93,4,AAR,Production Controller,Current Employee,1
94,4,AAR,Production Technician,Former Employee,1
95,4,AAR,Program Manager,Current Employee,2
96,4,AAR,Program Manager,Former Employee,1
97,4,AAR,Project Engineer,Former Employee,1
98,4,AAR,QC Inspector,Current Employee,1
99,4,AAR,Quality Assurance,Former Employee,1
100,4,AAR,Quality Control,Former Employee,1
102,4,AAR,Quality Engineer,Current Employee,1
103,4,AAR,Quality Inspector,Current Employee,1
104,4,AAR,Quality Inspector,Former Contractor,1
107,4,AAR,Receptionist/Administrative Assistant,Former Employee,1
108,4,AAR,Recruiter,Current Employee,1
112,4,AAR,Sales Manager,Current Employee,1
113,4,AAR,Senior,Former Employee,1
114,4,AAR,Senior Accountant,Former Employee,1
116,4,AAR,Senior Consultant,Former Contractor,1
118,4,AAR,Senior Design Engineer,Current Employee,1
119,4,AAR,Senior Developer,Former Employee,1
121,4,AAR,Senior Recruiter,Current Employee,1
122,4,AAR,Sheet Metal Mechanic,Current Contractor,1
123,4,AAR,Sheet Metal Mechanic,Current Employee,1
124,4,AAR,Sheet Metal Mechanic,Former Contractor,1
125,4,AAR,Sheet Metal Mechanic,Former Employee,3
128,4,AAR,Software Developer,Current Employee,1
131,4,AAR,Support Technician,Current Employee,1
132,4,AAR,Technician,Current Employee,1
133,4,AAR,Test Engineer,Former Employee,1
135,4,AAR,Warehouse Worker,Current Employee,1
136,4,AAR,Welder,Former Employee,1
137,7,AMETEK,Accounts Payable,Former Employee,1
138,7,AMETEK,Administrative Assistant,Former Employee,1
139,7,AMETEK,Aerospace Engineer,Current Employee,1
149,7,AMETEK,Assembler,Former Employee,1
153,7,AMETEK,Business Development Manager,Former Employee,1
154,7,AMETEK,CNC Machinist,Current Employee,1
156,7,AMETEK,Commodity Manager,Current Employee,1

In [19]:
job_counts.shape

(372136, 5)

## Extract jobs reviewed at each company

From the `job_counts` DataFrame, I will find the collection of jobs reviewed at each company. I will then convert this collection into a long string, with job titles separated by the fixed string ' AKLDJJ '. When I import this information in future work, I can just quickly split by ' AKLDJJ '.

In [22]:
company_jobs_dict = {}

counter = 0

for comp_id in job_counts.loc[:,'Company Id'].drop_duplicates():
    job_counts_for_company = job_counts[job_counts['Company Id'] == comp_id]
    
    #find lists of jobs at company
    company_jobs_dict[comp_id] = list(job_counts_for_company.loc[:,'Job Title'].drop_duplicates())
    
    #remove job titles that were listed as NaN
    if np.nan in company_jobs_dict[comp_id]:
        counter += 1
        company_jobs_dict[comp_id].remove(np.nan)
        
    company_jobs_dict[comp_id] = " AKLDJJ ".join(company_jobs_dict[comp_id])
    
print(counter)

462

In [23]:
#example string of jobs at company
company_jobs_dict[20]

'Composite Technician AKLDJJ Engineer AKLDJJ Finishing Technician AKLDJJ IT Manager AKLDJJ IT Support Analyst AKLDJJ Intern AKLDJJ Manufacturing AKLDJJ Manufacturing Supervisor AKLDJJ Ndt Technician AKLDJJ Process Engineer AKLDJJ Senior Buyer AKLDJJ Senior Manager'

In [24]:
company_jobs_df = pd.DataFrame.from_dict({'Company Id': [comp_id 
                                                         for comp_id in job_counts.loc[:,'Company Id'].drop_duplicates()],
                                          'Available Jobs': [company_jobs_dict[comp_id]
                                                            for comp_id in job_counts.loc[:,'Company Id'].drop_duplicates()]})

In [25]:
company_jobs_df.head()

   Company Id                                     Available Jobs
0           4  A&P Mechanic AKLDJJ A&P Technician AKLDJJ Acco...
1           7  Accounts Payable AKLDJJ Administrative Assista...
2           8  A&P Mechanic AKLDJJ Account Manager AKLDJJ Acc...
3           9                                   Machine Operator
4          12  AREA SALES MANAGER AKLDJJ Abteilungsleiter AKL...

In [26]:
#a few companies without jobs
company_jobs_df = company_jobs_df[~company_jobs_df['Company Id'].isin([1892,23043,660837])]

In [27]:
company_jobs_df = company_jobs_df.set_index('Company Id', drop = True)

In [28]:
company_jobs_df.head()

                                               Available Jobs
Company Id
4           A&P Mechanic AKLDJJ A&P Technician AKLDJJ Acco...
7           Accounts Payable AKLDJJ Administrative Assista...
8           A&P Mechanic AKLDJJ Account Manager AKLDJJ Acc...
9                                            Machine Operator
12          AREA SALES MANAGER AKLDJJ Abteilungsleiter AKL...

In [29]:
#save to CSV file
company_jobs_df.to_csv('companies_available_jobs.csv')